:root {
    --primary-color: #FCFC99;
    --bg-color: #F1F9FF;
    --text-color: #3C5C77;
    
    --dark-color: #313131;
    --white-color: #FFFFFF;
    --input-border-color: #BCE0FD;
    --arrow-color: #2699FB;
    --placeholder-color: #95A0A6;
    
    --box-shadow-color: #00000029;
    --box-shadow: 0px 3px 3px var(--box-shadow-color);
    --box-shadow-footer: 0px -3px 3px var(--box-shadow-color);
    --box-shadow-light: 3px 3px 5px var(--box-shadow-color); /* #FFFFFF4A */ /* Button */
   /* --box-shadow-card: 3px 3px 5px var(--box-shadow-color);  Card */

    --max-width: 1456px;

}

body {
    margin: 0;
    background-color: var(--bg-color);

    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 18px;
    color: var(--dark-color);
}

h1 {
    font-size: 48px;
    font-family: 'Cinzel Decorative', cursive;
}
.letter {
    font-family: 'Cinzel', cursive;
}

h2 {
    font-family: 'Cinzel', cursive;
}

.container {
    max-width: var(--max-width);
    margin-bottom: 7rem;
}

header {
    width: 100vw;
    height: 67px;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
}

header img {
    margin: 8px 20px;
}

footer {
    width: 100vw;
    height: 60px;
    background-color: var(--primary-color);
    bottom: 0;
    box-shadow: var(--box-shadow-footer);
    position: fixed;
}


/* Form */ 

form {
    color: var(--text-color);
}
input,
.form-control {
    border-color: var(--input-border-color);
    border-radius: 0;
}

/* Datepicker */
.react-datepicker-wrapper {
    display: block;
}

/* Button */ 
.btn {
    border-radius: 0;
    border: none;
    box-shadow: var(--box-shadow-light);

    color: var(--dark-color);
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Cinzel', cursive;

    width: 349px;
    height: 50px;
    line-height: 40px;

    opacity: 1;
    
}

i {
    margin-right: .5rem;
}

.btn-primary,
.btn-primary:hover, 
.btn-primary:active, 
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--primary-color);
    color: var(--dark-color);
}

.btn-secondary,
.btn-secondary:hover, 
.btn-secondary:active, 
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active {
    background-color: var(--bg-color);
    color: var(--dark-color);
}

.btn-light,
.btn-light:hover, 
.btn-light:active, 
.btn-light:focus,
.btn-light:not(:disabled):not(.disabled):active {
    color: var(--arrow-color);
    background-color: var(--white-color);

}

.btn-back {
    width: 40px;
    height: 40px;
}

/* Card */

.crime {
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow-light);
    border-radius: 3px;
    color: var(--text-color);
    padding: 20px;
    border: none;
}

.crime .crime__title {
    font-weight: 800;
}

.crime .crime__type, 
.crime .crime__country {
    font-size: 14px;
}

.crime .crime__zoom-button {
    color: var(--arrow-color);
    display: flex;
    align-self: flex-end;
}
