:root {
    --primary-color: #FCFC99;
    --bg-color: #F1F9FF;
    --text-color: #3C5C77;
    
    --dark-color: #313131;
    --white-color: #FFFFFF;
    --input-border-color: #BCE0FD;
    --arrow-color: #2699FB;
    --placeholder-color: #95A0A6;
    
    --box-shadow-color: #00000029;
    --box-shadow: 0px 3px 3px var(--box-shadow-color);
    --box-shadow-footer: 0px -3px 3px var(--box-shadow-color);
    --box-shadow-light: 3px 3px 5px var(--box-shadow-color);
    --box-shadow-double: -3px -3px 5px 0px #ffffff, 3px 3px 5px 0px #b3b3b3;

    --max-width: 1456px;

}

body {
    margin: 0;
    background-color: var(--bg-color);

    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 18px;
    color: var(--dark-color);
    overflow-x: hidden;
}

h1 {
    font-size: 48px;
    font-family: 'Cinzel Decorative', cursive;
}
.letter {
    font-family: 'Cinzel', cursive;
}

h2, h3 {
    font-family: 'Cinzel', cursive;
}

h3 {
    margin-bottom: 0;
}

.container {
    max-width: var(--max-width);
    margin-top: 6rem;
}
.main-container {
    margin-bottom: 7rem;
    margin-top: 7rem;
}

header {
    width: 100vw;
    height: 67px;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);

    padding: 5px 15px;

    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 999;
    
}

footer {
    width: 100vw;
    height: 60px;
    background-color: var(--primary-color);
    bottom: 0;
    box-shadow: var(--box-shadow-footer);
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

}


/* Form */ 

form {
    color: var(--text-color);
}
input,
.form-control {
    border-color: var(--input-border-color);
    border-radius: 0;
}

.input-date i {
    position: absolute;
    right: 16px;
}



/* Datepicker */
.react-datepicker-wrapper {
    display: block;
    width: 100%;
}

/* Button */ 
.btn {
    border-radius: 3px;
    border: none;
    box-shadow: var(--box-shadow-double);

    color: var(--dark-color);
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Cinzel', cursive;

    width: 100%;
    height: 50px;
    line-height: 40px;

    opacity: 1;
    
}

i {
    margin-right: .5rem;
}

.img-rounded {
    border-radius: 50px;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin-right: 1rem;
}

.img-no-victim {
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    padding: 1rem;
    text-transform: uppercase;
    color: var(--dark-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary,
.btn-primary:hover, 
.btn-primary:active, 
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--primary-color);
    color: var(--dark-color);
}

.btn-secondary,
.btn-secondary:hover, 
.btn-secondary:active, 
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active {
    background-color: var(--bg-color);
    color: var(--dark-color);
}

.btn-light,
.btn-light:hover, 
.btn-light:active, 
.btn-light:focus,
.btn-light:not(:disabled):not(.disabled):active {
    color: var(--arrow-color);
    background-color: var(--white-color);
}

.btn-back {
    width: 40px;
    height: 40px;
}

/* Card */

.crime {
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow-double);
    border-radius: 3px;
    color: var(--text-color);
    padding: 20px;
    border: none;
    width: 100%;

    transition: all ease .5s;

    /* background: #F1F9FF 0% 0% no-repeat padding-box; */
}

.crime .crime__title,
.crime__modal .crime__title {
    font-weight: 800;
}

.crime .crime__small, 
.crime__modal .crime__small{
    font-size: 14px;
}

.crime .crime__zoom-button {
    color: var(--arrow-color);
    display: flex;
    align-self: flex-end;
    width: 20px;
    height: 20px;
}

/* Modal Crime */ 
.modal header {
    display: none;
}
.crime__modal {
    color: var(--font-color);
}
.crime__modal .modal-content {
    background-color: var(--bg-color);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    border: none;
}

.crime__modal h4 {
    font-family: 'Cinzel Decorative', cursive;
    color: var(--dark-color);
}


.many-items {
    flex-flow: nowrap;
    scroll-behavior: smooth;
    overflow-x: auto;
}


/* ======= MEDIA QUERIES ========  */ 

@media(max-width: 500px) {
    h1 {
        font-size: 18px;
    } 
    .main-container {
        margin-bottom: 3rem;
        margin-top: 6rem;
    }
    
    .btn {
        box-shadow: 3px 3px 3px grey, 0 3px 10px 3px white;
    }
    
    .btn-primary {
        height: 30px;
        line-height: normal;
    }

    header .btn-primary {
        height: 30px;
    }

    .crime__modal {
        padding-left: 0;
    }

    .modal header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal header h3 {
        color: var(--dark-color);
        font-size: 18px;
    }
    .modal-dialog {
        margin: 0;
    }
    .modal-content {
        width: 100vw;
        min-height: 100vh;
        border-radius: 0;
    }
    .modal-content-details {
        margin-top: 4rem;
    }
}